node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.docker
Dockerfile*
docker-compose*.yml
.dockerignore
backend/src/logs/*
backend/logs/*
*.log
dist
.DS_Store
Thumbs.db
frontend/
database/
docker/