global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - /etc/prometheus/alerts.yml

scrape_configs:
  - job_name: 'lms-backend'
    metrics_path: /metrics/prometheus
    static_configs:
      - targets: ['host.docker.internal:3000']

